idpl_querier/.project
idpl_querier/.pydevproject
idpl_querier/db.sqlite3
idpl_querier/esmond_client/__pycache__/
idpl_querier/idpl_querier/__pycache__/
idpl_querier/querier_server/__pycache__/
idpl_querier/querier_server/migrations/__pycache__/
